/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* Анимация движущегося треугольника */

@keyframes movingaround {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

/* Анимации сердца */

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--contour-color);
  transition: fill 100ms linear;
}
.main-body {
  fill: transparent;
  transition: fill 300ms linear;
}

.core {
  fill: transparent;
  transition: fill 300ms linear 30ms;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 300ms linear 50ms;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 300ms linear;
}

.card__icon-button:active .main-body {
  fill: red;
  transition: fill 300ms linear 50ms;
}

.card__icon-button:active .core {
  fill: red;
  transition: fill 300ms linear;
}

.card__icon-button:hover .main-body {
  transition: fill 300ms linear 50ms;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 300ms linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 300ms linear 30ms;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 300ms linear 60ms;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartexplosion ease-in 300ms 1 alternate 100ms;
}

/* Анимация взрыва */

@keyframes heartexplosion {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: heartsparks ease-in 300ms 1 alternate 300ms;
}

/* Анимация появления вспышек */

@keyframes heartsparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
