/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter, sans-serif;
  --accent-font: PressStart2P, fantasy;
  --article-head-text-weight: 700;
  --article-content-text-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --spark-fill-color: #f00;
  --contour-color: var(--accent-color);
  --fill-color: #fff;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
}
